Repository ainsleydev/sclark.uk: changes, and which lefthook commands are due for each by the changed paths.
All: check, lint, go-fmt

check:
  run: pnpm biome check --write {staged_files}

lint:
  run: golangci-lint run --fix
  stage_fixed: true

go-fmt:
  run: gofmt -s -w

feat: Working on seed scripts
  cms/src/seed/down.ts
  cms/src/seed/seed.ts
  cms/src/seed/up.ts
Due: check

feat: Working on build scripts
  cms/src/seed/content.ts
  cms/src/seed/seed.ts
  cms/src/types/payload.ts
  pnpm-lock.yaml
Due: check

feat: Updating seed
  cms/src/seed/content.ts
  cms/src/seed/seed.ts
  cms/src/types/payload.ts
Due: check

chore: Updating turbo
  package.json
  pnpm-lock.yaml
Due: check

feat: Adjusting hero styling
  cms/src/types/payload.ts
  web/assets/images/gradients/hero.svg
  web/views/blocks/hero.scss
  web/views/blocks/hero.templ
  web/views/partials/header.scss
  web/views/partials/header.templ
Due: check

feat: Home animation using motion one
  cms/src/types/payload.ts
  web/assets/js/app.js
  web/assets/js/pages/home.js
  web/package-lock.json
  web/package.json
  web/views/blocks/hero.scss
  web/views/svgs/scrabble.templ
Due: check

refactor: Moving to home.js
  web/assets/js/app.js
  web/assets/js/pages/home.js
Due: check

feat: Adding logos & adjusting styling for blocks
  cms/src/blocks/Logos.ts
  cms/src/types/payload.json
  cms/src/types/payload.ts
  web/assets/js/app.js
  web/assets/scss/abstracts/_variables.scss
  web/assets/scss/generic/_spacing.scss
  web/types/cms.go
  web/views/blocks/contact.scss
  web/views/blocks/contact.templ
  web/views/blocks/hero.scss
  web/views/blocks/hero.templ
  web/views/blocks/logos.scss
  web/views/blocks/logos.templ
  web/views/blocks/reviews.scss
  web/views/components/form.scss
  web/views/components/group.scss
  web/views/components/review.scss
  web/views/pages/home.templ
Due: check, lint, go-fmt

feat: Working on blocks
  cms/src/blocks/Logos.ts
  cms/src/types/payload.json
  cms/src/types/payload.ts
  web/assets/scss/abstracts/_variables.scss
  web/assets/scss/app.scss
  web/assets/scss/layout/section.scss
  web/views/blocks/blocks.scss
  web/views/blocks/content.templ
  web/views/blocks/content_with_image.templ
  web/views/blocks/reviews.scss
  web/views/pages/home.templ
Due: check

feat: Glider, reviews & portfolio
  pnpm-lock.yaml
  web/assets/js/app.js
  web/assets/scss/abstracts/_variables.scss
  web/assets/scss/app.scss
  web/assets/scss/layout/glider.scss
  web/package.json
  web/views/blocks/blocks.scss
  web/views/blocks/logos.scss
  web/views/blocks/logos.templ
  web/views/blocks/portfolio.scss
  web/views/blocks/portfolio.templ
  web/views/blocks/reviews.scss
  web/views/blocks/reviews.templ
  web/views/components/collapse.scss
  web/views/components/review.scss
Due: check

feat: Minor styling tweaks
  web/assets/js/app.js
  web/assets/scss/abstracts/_variables.scss
  web/assets/scss/generic/_typography.scss
  web/views/blocks/blocks.scss
  web/views/blocks/reviews.scss
  web/views/partials/footer.scss
  web/views/partials/footer.templ
Due: check

perf: PSI
  web/assets/js/app.js
  web/content/settings.go
  web/views/blocks/hero.scss
  web/views/blocks/hero.templ
  web/views/blocks/logos.scss
  web/views/blocks/logos.templ
  web/views/components/form.scss
  web/views/partials/footer.scss
  web/views/partials/footer.templ
  web/views/partials/header.templ
Due: check, lint, go-fmt

feat: Favicon & removing go.work
  infra/main.tf
  web/assets/favicon/android-chrome-192x192.png
  web/assets/favicon/android-chrome-512x512.png
  web/assets/favicon/apple-touch-icon.png
  web/assets/favicon/browserconfig.xml
  web/assets/favicon/favicon-16x16.png
  web/assets/favicon/favicon-32x32.png
  web/assets/favicon/favicon.ico
  web/assets/favicon/mstile-144x144.png
  web/assets/favicon/mstile-150x150.png
  web/assets/favicon/mstile-310x150.png
  web/assets/favicon/mstile-310x310.png
  web/assets/favicon/mstile-70x70.png
  web/assets/favicon/safari-pinned-tab.svg
  web/assets/favicon/site.webmanifest
  web/assets/js/app.js
  web/assets/scss/abstracts/_variables.scss
  web/assets/scss/grid/_grid.scss
  web/esbuild.mjs
  web/go.work
  web/views/blocks/hero.scss
  web/views/blocks/logos.scss
  web/views/blocks/logos.templ
  web/views/blocks/portfolio.scss
  web/views/layouts/base.templ
  web/views/partials/footer.scss
Due: check

fix: Dockerfile for Go
  web/.dockerignore
  web/Dockerfile
  web/assets/scss/grid/_grid.scss
  web/esbuild.mjs
  web/go.mod
  web/go.sum
  web/package.json
Due: check

platform: Docker prune script
  web/package.json
Due: check

fix: Dockerfile generation
  web/Dockerfile
Due: none

fix: Adding templ to build script
  web/Dockerfile
Due: none

fix: Templ experiment
  web/Dockerfile
Due: none

fix: Docker file assets
  cms/package.json
  infra/.terraform.lock.hcl
  infra/main.tf
  package.json
  web/Dockerfile
Due: check

fix: Imagery for esbuild
  web/bin/images.mjs
Due: check

fix: Dist folder for Dockerfile
  web/Dockerfile
  web/bin/images.mjs
Due: check

feat: Adding plausible
  infra/main.tf
  web/views/layouts/base.templ
Due: none

refactor: Styling updates
  infra/.terraform.lock.hcl
  web/assets/js/app.js
  web/bin/images.mjs
  web/content/english_lessons.go
  web/views/blocks/blocks.scss
  web/views/blocks/logos.scss
  web/views/pages/home.templ
  web/views/partials/header.scss
Due: check, lint, go-fmt

refactor: Styling updates
  web/assets/js/app.js
  web/assets/scss/app.scss
  web/assets/scss/layout/richtext.scss
  web/handlers/contact.go
  web/main.go
  web/views/blocks/contact.templ
  web/views/blocks/content.templ
  web/views/blocks/hero.scss
  web/views/components/collapse.templ
  web/views/layouts/base.templ
  web/views/partials/footer.scss
  web/views/partials/nav.scss
Due: check, lint, go-fmt

platform: Updating terraform, including BetterStack
  infra/.terraform.lock.hcl
  infra/better-stack.tf
  infra/bucket.tf
  infra/main.tf
  infra/variables.tf
  infra/web.tf
  package.json
  web/handlers/contact.go
  web/main.go
  web/views/blocks/contact.templ
Due: check, lint, go-fmt

feat: Updating webkit & infra
  infra/better-stack.tf
  infra/web.tf
  web/go.mod
  web/go.sum
Due: none

infra: Updfating better stack config
  infra/better-stack.tf
  infra/web.tf
Due: none

feat: Adding web3 forms & contact logic
  infra/variables.tf
  infra/web.tf
  web/go.mod
  web/go.sum
  web/handlers/contact.go
  web/main.go
  web/views/blocks/contact.templ
  web/views/blocks/content_with_image.templ
  web/views/blocks/logos.scss
  web/views/components/form.scss
  web/views/components/form.templ
  web/views/partials/footer.templ
Due: lint, go-fmt

feat: Adding favicon
  web/assets/favicon.ico
  web/assets/favicon.svg
  web/assets/favicon/android-chrome-192x192.png
  web/assets/favicon/android-chrome-512x512.png
  web/assets/favicon/apple-touch-icon.png
  web/assets/favicon/browserconfig.xml
  web/assets/favicon/favicon-16x16.png
  web/assets/favicon/favicon-32x32.png
  web/assets/favicon/mstile-144x144.png
  web/assets/favicon/mstile-150x150.png
  web/assets/favicon/mstile-310x150.png
  web/assets/favicon/mstile-310x310.png
  web/assets/favicon/mstile-70x70.png
  web/assets/favicon/safari-pinned-tab.svg
  web/assets/favicon/site.webmanifest
  web/assets/scss/abstracts/_variables.scss
  web/handlers/contact.go
  web/main.go
  web/views/blocks/contact.templ
  web/views/components/button.templ
  web/views/components/form.scss
  web/views/components/form.templ
  web/views/layouts/base.templ
Due: lint, go-fmt

feat: Opengraph imagery
  web/assets/images/favicon.svg
  web/assets/images/opengraph.jpg
  web/content/settings.go
Due: lint, go-fmt

feat: Adding 404
  web/assets/scss/base/_global.scss
  web/handlers/error.go
  web/handlers/maintenance.go
  web/handlers/pages.go
  web/main.go
  web/views/blocks/hero.scss
  web/views/css.templ
  web/views/layouts/base.templ
  web/views/pages/error.templ
  web/views/pages/maintenance.templ
  web/views/pages/message.templ
Due: lint, go-fmt

feat: AOS
  pnpm-lock.yaml
  web/assets/js/app.js
  web/assets/scss/app.scss
  web/go.mod
  web/package.json
  web/views/blocks/contact.templ
  web/views/blocks/content.templ
  web/views/blocks/content_with_image.templ
  web/views/blocks/logos.templ
  web/views/blocks/portfolio.templ
  web/views/blocks/reviews.templ
  web/views/components/portfolio_item.templ
  web/views/components/review.templ
Due: check

chore: Bumping deps
  web/assets/js/app.js
  web/go.mod
  web/go.sum
Due: check

style: Updating home animation
  web/assets/js/pages/home.js
  web/views/components/portfolio_item.templ
  web/views/components/review.templ
Due: check

fix: Deps for payload
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  cms/next.config.mjs
  cms/package.json
  cms/src/app/(payload)/admin/[[...segments]]/not-found.tsx
  cms/src/app/(payload)/admin/[[...segments]]/page.tsx
  cms/src/app/(payload)/api/[...slug]/route.ts
  cms/src/app/(payload)/api/graphql-playground/route.ts
  cms/src/app/(payload)/api/graphql/route.ts
  cms/src/app/(payload)/layout.tsx
  cms/src/types/payload.ts
  cms/tsconfig.json
  package-lock.json
  pnpm-lock.yaml
  web/assets/js/pages/home.js
  web/package-lock.json
Due: check

fix: Payload provisioning
  cms/next.config.mjs
  cms/src/app/(payload)/admin/[[...segments]]/not-found.tsx
  cms/src/app/(payload)/admin/[[...segments]]/page.tsx
  cms/src/app/(payload)/api/[...slug]/route.ts
  cms/src/app/(payload)/api/graphql-playground/route.ts
  cms/src/app/(payload)/api/graphql/route.ts
  cms/src/app/(payload)/layout.tsx
  cms/src/collections/Posts.ts
  cms/src/pages/Home.ts
  cms/src/payload.config.ts
  cms/src/types/payload.ts
  cms/tsconfig.json
  infra/better-stack.tf
  infra/web.tf
Due: check

platform: CMS deployment
  cms/.dockerignore
  cms/Dockerfile
  cms/next.config.mjs
  cms/package.json
  cms/src/blocks/Logos.ts
  cms/src/collections/Clients.ts
  cms/src/collections/Portfolio.ts
  cms/src/payload.config.ts
  cms/src/seed/down.ts
  cms/src/seed/seed.ts
  cms/src/seed/up.ts
  infra/better-stack.tf
  infra/bucket.tf
  infra/cms.tf
  infra/variables.tf
  infra/web.tf
  pnpm-lock.yaml
Due: check

refactor: Updating infra
  cms/src/payload.config.ts
  infra/better-stack.tf
  infra/cms.tf
  infra/web.tf
Due: check

platform: Adding redirect
  cms/next.config.mjs
  cms/src/types/payload.ts
  infra/cms.tf
Due: check

feat: Refactoring payload helper for CMS
  cms/package.json
  cms/src/payload.config.ts
  pnpm-lock.yaml
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  lint: any of: *.go
  go-fmt: any of: *.go
