Repository ainsleydev/sclark.uk: changes, and which lefthook commands are due for each by the changed paths.
All: check, lint, go-fmt

check:
  run: pnpm biome check --write {staged_files}

lint:
  run: golangci-lint run --fix
  stage_fixed: true

go-fmt:
  run: gofmt -s -w

fix: Updating .github
  .github/dependabot.yaml
  .github/workflows/build.yaml
Due: none

git
  .github/workflows/build.yaml
  web/esbuild.mjs
  web/package.json
Due: check

fix: Updating workflow
  .github/workflows/build.yaml
Due: none

refactor: Adding rimraf
  cms/package.json
  pnpm-lock.yaml
  web/package.json
Due: check

platform: Dependabot
  .github/dependabot.yaml
Due: none

refactor: Styling tweaks
  cms/package.json
  cms/src/types/payload.ts
  pnpm-lock.yaml
  web/assets/js/pages/home.js
  web/assets/scss/app.scss
  web/assets/scss/layout/animation.scss
  web/handlers/contact.go
  web/views/blocks/contact.templ
  web/views/components/form.templ
  web/views/components/social.templ
  web/views/partials/footer.scss
  web/views/partials/footer.templ
  web/views/svgs/footer.templ
  web/views/svgs/scrabble.templ
Due: check, lint, go-fmt

feat: Adding migrations
  cms/biome.json
  cms/package.json
  cms/src/migrations/20240805_175041.json
  cms/src/migrations/20240805_175041.ts
  pnpm-lock.yaml
Due: check

fix: Updating infra & payload settings
  infra/cms.tf
  infra/variables.tf
  pnpm-lock.yaml
  web/handlers/contact.go
Due: lint, go-fmt

fix: Linting
  web/assets/js/pages/home.js
Due: check

fix: Go.mod update & biome ci
  web/biome.json
  web/go.mod
  web/go.sum
Due: check

fix: Working on infra
  cms/package.json
  cms/src/payload.config.ts
  cms/src/seed/seed.ts
  infra/bucket.tf
  infra/cms.tf
  infra/db.tf
  pnpm-lock.yaml
  web/go.mod
  web/go.sum
Due: check

test: Trying to fix libsql error
  cms/Dockerfile
  cms/package.json
  cms/public/robots.txt
  infra/db.tf
  pnpm-lock.yaml
Due: check

fix: Dockerfile - libsql
  cms/Dockerfile
  cms/package.json
  pnpm-lock.yaml
Due: check

refactor: Bumping deps & changing store name
  cms/package.json
  infra/bucket.tf
  infra/cms.tf
  infra/web.tf
  pnpm-lock.yaml
Due: check

feat: Stylign twaks & updating views, payload package
  cms/package.json
  cms/src/collections/Pages.ts
  cms/src/migrations/20240806_155319.json
  cms/src/migrations/20240806_155319.ts
  cms/src/types/payload.json
  cms/src/types/payload.ts
  pnpm-lock.yaml
  web/assets/js/pages/home.js
  web/handlers/pages.go
  web/modernizr.json
  web/package.json
  web/types/cms.go
  web/views/blocks/hero.templ
  web/views/layouts/base.templ
  web/views/pages/blocks.templ
Due: check, lint, go-fmt

chore: Updating deps
  cms/package.json
  cms/src/payload.config.ts
  cms/src/seed/seed.ts
  pnpm-lock.yaml
  web/go.mod
  web/go.sum
Due: check

fix: Updating webkit for cache fix
  web/go.mod
  web/go.sum
Due: none

fix: Updating home handler
  TODO.md
  cms/src/payload.config.ts
  web/handlers/pages.go
Due: check, lint, go-fmt

chore: Bumping deps
  web/go.mod
  web/go.sum
Due: none

fix: Updating libsql
  cms/package.json
  web/main.go
Due: check, lint, go-fmt

go:
  cms/v0.0.2
  web/go.mod
Due: none

fix: Updating deps
  web/go.mod
  web/go.sum
Due: none

chore: Updating versions
  cms/package.json
  pnpm-lock.yaml
  web/go.mod
  web/go.sum
  web/main.go
Due: check, lint, go-fmt

refactor: Updating cache control headers
  web/go.mod
  web/go.sum
Due: none

chore: Updating deps
  cms/package.json
  cms/payload-types.ts
  cms/src/payload.config.ts
  pnpm-lock.yaml
Due: check

refactor: Media sizes & seo audit
  cms/package.json
  cms/src/blocks/Contact.ts
  cms/src/blocks/Content.ts
  cms/src/blocks/ContentWithImage.ts
  cms/src/blocks/FAQs.ts
  cms/src/blocks/Gradient.ts
  cms/src/blocks/Logos.ts
  cms/src/blocks/Portfolio.ts
  cms/src/blocks/Reviews.ts
  cms/src/blocks/Richtext.ts
  cms/src/fields/Identifier.ts
  cms/src/migrations/index.ts
  cms/src/types/payload.ts
  pnpm-lock.yaml
  web/views/blocks/contact.templ
  web/views/blocks/content.templ
  web/views/blocks/logos.templ
  web/views/blocks/reviews.templ
  web/views/components/button.templ
  web/views/components/collapse.templ
  web/views/components/portfolio_item.templ
  web/views/components/review.templ
  web/views/components/social.templ
  web/views/layouts/base.templ
  web/views/pages/blocks.templ
  web/views/pages/message.templ
  web/views/partials/footer.templ
  web/views/svgs/footer.templ
Due: check

refactor: Adding IDs
  pnpm-lock.yaml
  web/go.mod
  web/go.sum
  web/views/blocks/contact.templ
  web/views/blocks/content.templ
  web/views/blocks/content_with_image.templ
  web/views/blocks/logos.templ
  web/views/blocks/portfolio.templ
  web/views/blocks/reviews.templ
  web/views/blocks/util.go
Due: lint, go-fmt

chore: Deps
  cms/package.json
  cms/src/types/payload.json
  pnpm-lock.yaml
Due: check

fix: Identifiers
  web/types/cms.go
  web/views/blocks/contact.templ
  web/views/blocks/content.templ
  web/views/blocks/content_with_image.templ
  web/views/blocks/hero.scss
  web/views/blocks/logos.templ
  web/views/blocks/portfolio.templ
  web/views/blocks/reviews.templ
  web/views/blocks/util.go
  web/views/components/button.scss
Due: lint, go-fmt

fix: Updating types & migration
  TODO.md
  cms/Dockerfile
  cms/src/fields/Identifier.ts
  cms/src/migrations/20240808_110205.json
  cms/src/migrations/20240808_110205.ts
  cms/src/migrations/index.ts
  cms/src/types/payload.json
  cms/src/types/payload.ts
  cms/v0.0.2
Due: check

perf: Updating heading elements
  web/views/components/form.templ
Due: none

chore: Bumping deps
  cms/package.json
  pnpm-lock.yaml
Due: check

refactor: Updaint dockerfile
  TODO.md
  cms/Dockerfile
  infra/cms.tf
Due: none

fix: Dockerfile
  cms/Dockerfile
Due: none

fix: Dockerfile args
  cms/Dockerfile
Due: none

fix: Dockerfile env args
  cms/Dockerfile
Due: none

refactor: Updating Dockerfile & adding HX indicator
  TODO.md
  cms/Dockerfile
  web/views/components/button.scss
Due: none

fix: Moving node env in dockerfile
  cms/Dockerfile
Due: none

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  lint: any of: *.go
  go-fmt: any of: *.go
