Repository ainsleydev/sclark.uk: changes, and which lefthook commands are due for each by the changed paths.
All: check, lint, go-fmt

lefthook.yaml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
    parallel: true
    commands:
        check:
            glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
            run: pnpm biome check --write {staged_files}
        lint:
            glob: "*.go"
            run: golangci-lint run --fix
            stage_fixed: true
        go-fmt:
            glob: "*.go"
            run: gofmt -s -w
        go-vet:
            glob: "web/*.go"
            tags: backend style
            files: git ls-files -m
            run: go vet
prepare-commit-msg:
    commands:
        commitzen:
            interactive: true
            run: pnpm run commit
            env:
                LEFTHOOK: 0

feat: test
  lefthook.yaml
  package.json
  pnpm-lock.yaml
Due: check

feat: Adding biome to cms
  cms/.eslintrc.cjs
  cms/biome.json
  cms/package.json
  cms/pnpm-lock.yaml
  lefthook.yaml
Due: check

style: Linting Payload
  cms/biome.json
  cms/package.json
  cms/src/app/(payload)/admin/[[...segments]]/not-found.tsx
  cms/src/app/(payload)/admin/[[...segments]]/page.tsx
  cms/src/app/(payload)/api/[...slug]/route.ts
  cms/src/app/(payload)/api/graphql-playground/route.ts
  cms/src/app/(payload)/api/graphql/route.ts
  cms/src/app/(payload)/layout.tsx
  cms/src/collections/Clients.ts
  cms/src/collections/Portfolio.ts
  cms/src/collections/PortfolioCategories.ts
  cms/src/collections/Posts.ts
  cms/src/collections/Reviews.ts
  cms/src/collections/Users.ts
  cms/src/globals/Settings.ts
  cms/src/payload-types.ts
  cms/src/payload.config.ts
Due: check

style: Adding lint to turbo
  Makefile
  biome.json
  cms/biome.json
  cms/src/collections/Clients.ts
  cms/src/collections/Portfolio.ts
  cms/src/collections/Posts.ts
  cms/src/payload.config.ts
  package.json
  web/biome.json
Due: check

infra: Pnpm lock
  cms/pnpm-lock.yaml
  web/pnpm-lock.yaml
Due: none

feat: Working on home page
  package.json
  web/assets/images/logos/ainsley-dev.svg
  web/assets/images/logos/bailogik.svg
  web/assets/images/logos/britcent.svg
  web/assets/images/logos/decs-pets.svg
  web/assets/images/logos/finesse-group.svg
  web/assets/images/logos/ice.svg
  web/assets/images/logos/jennifer-cooper.svg
  web/assets/images/logos/schools-and-agents.svg
  web/assets/scss/abstracts/_variables.scss
  web/assets/scss/app.scss
  web/assets/scss/generic/_typography.scss
  web/assets/scss/layout/section.css
  web/views/blocks/hero.css
  web/views/components/button.css
  web/views/components/collapse.css
  web/views/components/collapse.templ
  web/views/components/group.templ
  web/views/components/list.css
  web/views/components/list.templ
  web/views/pages/home.templ
  web/views/partials/footer.css
  web/views/partials/footer.templ
  web/views/svgs/arrow.templ
Due: check

feat: Nav & header styling
  biome.json
  cms/pnpm-lock.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
  web/assets/js/app.js
  web/assets/scss/abstracts/_variables.scss
  web/assets/scss/base/_global.scss
  web/go.mod
  web/go.sum
  web/main.go
  web/pnpm-lock.yaml
  web/views/components/button.css
  web/views/components/button.templ
  web/views/components/collapse.css
  web/views/components/collapse.js
  web/views/components/collapse.templ
  web/views/css.templ
  web/views/pages/home.templ
  web/views/partials/header.css
  web/views/partials/header.templ
  web/views/partials/nav.css
  web/views/partials/nav.templ
Due: check, lint, go-fmt

feat: SVGo build step & above fold styling
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  pnpm-lock.yaml
  web/assets/fonts/VremenaGroteskBold.woff
  web/assets/fonts/VremenaGroteskBold.woff2
  web/assets/fonts/VremenaGroteskBook.woff
  web/assets/fonts/VremenaGroteskBook.woff2
  web/assets/images/gradient-1.svg
  web/assets/js/app.js
  web/assets/js/modernizr.js
  web/assets/scss/abstracts/_variables.scss
  web/assets/scss/app.scss
  web/assets/scss/base/_global.scss
  web/assets/scss/generic/_typography.scss
  web/assets/scss/grid/_grid.scss
  web/bin/images.mjs
  web/bin/svgo.mjs
  web/esbuild.mjs
  web/modernizr.json
  web/package.json
  web/views/blocks/hero.css
  web/views/blocks/hero.scss
  web/views/components/button.scss
  web/views/components/collapse.scss
  web/views/components/group.scss
  web/views/components/group.templ
  web/views/components/list.scss
  web/views/pages/home.templ
  web/views/partials/footer.scss
  web/views/partials/header.css
  web/views/partials/header.scss
  web/views/partials/header.templ
  web/views/partials/nav.css
  web/views/partials/nav.scss
  web/views/partials/nav.templ
Due: check

feat: Hero styling
  web/.air.toml
  web/assets/scss/app.scss
  web/views/blocks/hero.scss
  web/views/blocks/hero.templ
  web/views/blocks/logos.scss
  web/views/blocks/logos.templ
  web/views/layouts/base.templ
  web/views/pages/home.templ
  web/views/partials/nav.scss
  web/views/svgs/scrabble.templ
Due: none

feat: Hero & logos styling
  web/assets/js/app.js
  web/views/blocks/hero.scss
  web/views/blocks/hero.templ
  web/views/blocks/logos.scss
  web/views/blocks/logos.templ
  web/views/components/button.scss
  web/views/partials/nav.scss
Due: check

feat: Logos & contact boilerplate
  web/views/blocks/contact.templ
  web/views/blocks/logos.scss
Due: none

feat: Hero & nav sections
  web/assets/scss/abstracts/_variables.scss
  web/assets/scss/generic/_typography.scss
  web/assets/scss/layout/section.css
  web/views/blocks/hero.scss
  web/views/blocks/hero.templ
  web/views/components/button.templ
  web/views/components/group.scss
  web/views/partials/footer.scss
  web/views/partials/header.scss
  web/views/partials/nav.scss
Due: none

feat: Hero & nav sections
  web/assets/images/gradient-line-blue.svg
  web/assets/scss/generic/_typography.scss
  web/views/pages/home.templ
Due: none

feat: Home page designs
  web/assets/images/arrow.svg
  web/assets/images/gradient-line-blue.svg
  web/assets/images/gradient-line-pink.svg
  web/assets/scss/abstracts/_variables.scss
  web/assets/scss/app.scss
  web/assets/scss/generic/_typography.scss
  web/assets/scss/layout/section.css
  web/assets/scss/layout/section.scss
  web/views/blocks/contact.templ
  web/views/blocks/hero.scss
  web/views/blocks/hero.templ
  web/views/blocks/logos.templ
  web/views/blocks/reviews.templ
  web/views/components/button.templ
  web/views/components/collapse.scss
  web/views/components/collapse.templ
  web/views/components/gradient.scss
  web/views/components/gradient.templ
  web/views/components/group.scss
  web/views/components/group.templ
  web/views/components/list.templ
  web/views/pages/home.templ
  web/views/partials/header.scss
  web/views/partials/header.templ
  web/views/partials/nav.scss
  web/views/partials/nav.templ
  web/views/svgs/arrow.templ
Due: none

feat: Updating views & gen types
  cms/package.json
  cms/src/generate-schema.ts
  cms/src/payload-types.ts
  cms/src/payload.config.ts
  cms/src/types/payload.json
  cms/src/types/payload.ts
  package.json
  pnpm-lock.yaml
  web/assets/images/gradients/bg-1.svg
  web/assets/images/gradients/line-blue.svg
  web/assets/images/gradients/line-pink.svg
  web/assets/images/mockups/laptop.png
  web/assets/images/mockups/tablet.png
  web/assets/images/social/facebook.png
  web/assets/images/social/instagram.png
  web/assets/images/social/linkedin.png
  web/assets/images/social/tiktok.png
  web/assets/images/social/whatsapp.png
  web/assets/images/social/youtube.png
  web/assets/js/app.js
  web/bin/images.mjs
  web/types/cms.go
  web/types/types.go
  web/views/blocks/reviews.templ
  web/views/components/collapse.scss
  web/views/components/gradient.templ
  web/views/components/picture.templ
  web/views/pages/home.templ
  web/views/partials/nav.templ
Due: check, lint, go-fmt

feat: Type gen
  cms/package.json
  cms/src/blocks/Reviews.ts
  cms/src/collections/Pages.ts
  cms/src/collections/Reviews.ts
  cms/src/generate-schema.ts
  cms/src/payload.config.ts
  cms/src/types/payload.json
  cms/src/types/payload.ts
  package.json
  turbo.json
  web/assets/js/modernizr.js
  web/package.json
  web/types/cms.go
  web/views/blocks/reviews.templ
Due: check, lint, go-fmt

feat: Boostrapping blocks
  cms/src/blocks/Reviews.ts
  cms/src/generate-schema.ts
  cms/src/types/payload.json
  web/types/cms.go
  web/views/blocks/contact.templ
  web/views/blocks/content.templ
  web/views/blocks/content_with_image.templ
  web/views/blocks/portfolio.templ
  web/views/blocks/reviews.scss
  web/views/blocks/reviews.templ
  web/views/components/card.templ
  web/views/components/review.scss
  web/views/components/review.templ
Due: check, lint, go-fmt

feat: Working on footer & bootstrapping backend
  cms/package.json
  cms/src/collections/Users.ts
  cms/src/globals/Settings.ts
  cms/src/types/payload.ts
  web/assets/js/modernizr.js
  web/assets/scss/app.scss
  web/bin/images.mjs
  web/main.go
  web/types/cms.go
  web/views/blocks/contact.templ
  web/views/blocks/content.templ
  web/views/blocks/content_with_image.templ
  web/views/blocks/portfolio.templ
  web/views/blocks/reviews.templ
  web/views/components/card.templ
  web/views/components/collapse.templ
  web/views/components/picture.templ
  web/views/components/review.templ
  web/views/components/social.scss
  web/views/components/social.templ
  web/views/partials/footer.scss
  web/views/partials/footer.templ
Due: check, lint, go-fmt

feat: Working on footer
  web/assets/scss/abstracts/_variables.scss
  web/assets/scss/generic/_typography.scss
  web/assets/scss/layout/section.scss
  web/views/components/social.templ
  web/views/layouts/base.templ
  web/views/pages/home.templ
  web/views/partials/footer.scss
  web/views/partials/footer.templ
  web/views/partials/nav.templ
  web/views/svgs/footer.templ
Due: none

feat: Form
  web/assets/scss/abstracts/_variables.scss
  web/assets/scss/app.scss
  web/views/blocks/contact.templ
  web/views/components/form.scss
  web/views/pages/home.templ
  web/views/partials/footer.templ
  web/views/svgs/footer.templ
Due: none

feat: Reviews styling
  web/assets/scss/abstracts/_variables.scss
  web/assets/scss/app.scss
  web/assets/scss/generic/_typography.scss
  web/assets/scss/layout/section.scss
  web/content/portfolio.go
  web/content/reviews.go
  web/views/blocks/reviews.templ
  web/views/components/form.scss
  web/views/components/review.scss
  web/views/components/review.templ
  web/views/pages/home.templ
Due: lint, go-fmt

feat: Testimonals & section styling
  web/assets/exports/illustrations/teacher-scrabble.svg
  web/assets/exports/illustrations/thumbs-up.svg
  web/assets/images/illustrations/teacher-scrabble.svg
  web/assets/images/illustrations/thumbs-up.svg
  web/assets/scss/app.scss
  web/assets/scss/layout/section.scss
  web/views/blocks/contact.templ
  web/views/blocks/reviews.scss
  web/views/blocks/reviews.templ
  web/views/components/review.scss
Due: none

feat: Portfolio & Reviws block
  cms/src/blocks/Portfolio.ts
  cms/src/collections/Pages.ts
  cms/src/generate-schema.ts
  cms/src/types/payload.json
  cms/src/types/payload.ts
  web/assets/js/modernizr.js
  web/content/portfolio.go
  web/content/reviews.go
  web/types/cms.go
  web/views/blocks/contact.templ
  web/views/blocks/portfolio.templ
  web/views/blocks/reviews.templ
  web/views/components/form.scss
  web/views/components/portfolio.templ
  web/views/pages/home.templ
Due: check, lint, go-fmt

feat: Reviews & tablet styling
  web/content/portfolio.go
  web/views/blocks/hero.templ
  web/views/blocks/portfolio.templ
  web/views/blocks/reviews.templ
  web/views/components/portfolio.templ
  web/views/pages/home.templ
Due: lint, go-fmt

feat: Portfolio block
  cms/src/collections/Portfolio.ts
  cms/src/types/payload.json
  cms/src/types/payload.ts
  web/assets/exports/logos/coloured/ainsley-dev.svg
  web/assets/exports/logos/coloured/bailogik.svg
  web/assets/exports/logos/coloured/britcent.svg
  web/assets/exports/logos/coloured/decs-pets.svg
  web/assets/exports/logos/coloured/finesse-group.svg
  web/assets/exports/logos/coloured/ice.svg
  web/assets/exports/logos/coloured/jennifer-cooper.svg
  web/assets/exports/logos/coloured/schools-and-agents.svg
  web/assets/exports/logos/greyscale/ainsley-dev.svg
  web/assets/exports/logos/greyscale/bailogik.svg
  web/assets/exports/logos/greyscale/britcent.svg
  web/assets/exports/logos/greyscale/decs-pets.svg
  web/assets/exports/logos/greyscale/finesse-group.svg
  web/assets/exports/logos/greyscale/ice.svg
  web/assets/exports/logos/greyscale/jennifer-cooper.svg
  web/assets/exports/logos/greyscale/schools-and-agents.svg
  web/assets/scss/abstracts/_variables.scss
  web/assets/scss/app.scss
  web/assets/scss/generic/_typography.scss
  web/content/portfolio.go
  web/esbuild.mjs
  web/types/cms.go
  web/views/blocks/hero.templ
  web/views/blocks/portfolio.templ
  web/views/blocks/reviews.scss
  web/views/components/portfolio.templ
  web/views/components/portfolio_item.scss
  web/views/components/portfolio_item.templ
  web/views/components/review.scss
Due: check, lint, go-fmt

feat: Portfolio styling
  web/assets/js/app.js
  web/assets/scss/abstracts/_mixins.scss
  web/assets/scss/app.scss
  web/views/blocks/portfolio.scss
  web/views/blocks/portfolio.templ
  web/views/components/portfolio_item.scss
Due: check

feat: Finalising portfolio styling
  web/assets/scss/generic/_typography.scss
  web/content/portfolio.go
  web/views/components/portfolio_item.scss
Due: lint, go-fmt

feat: Adding text blocks
  cms/src/app/(payload)/admin/[[...segments]]/not-found.tsx
  cms/src/app/(payload)/admin/[[...segments]]/page.tsx
  cms/src/app/(payload)/layout.tsx
  cms/src/blocks/ContentWithImage.ts
  cms/src/blocks/FAQs.ts
  cms/src/blocks/Richtext.ts
  cms/src/collections/Pages.ts
  cms/src/collections/Reviews.ts
  cms/src/collections/Users.ts
  cms/src/generate-schema.ts
  cms/src/globals/Settings.ts
  cms/src/payload.config.ts
  cms/src/types/payload.json
  cms/src/types/payload.ts
Due: check

feat: Content with image
  cms/src/blocks/ContentWithImage.ts
  cms/src/blocks/FAQs.ts
  cms/src/blocks/Richtext.ts
  cms/src/types/payload.json
  cms/src/types/payload.ts
  web/content/english_lessons.go
  web/content/faqs.go
  web/types/cms.go
  web/views/blocks/content_with_image.templ
  web/views/blocks/faqs.go
  web/views/blocks/portfolio.templ
  web/views/pages/home.templ
Due: check, lint, go-fmt

feat: Adding block types
  cms/src/blocks/Content.ts
  cms/src/blocks/Logos.ts
  cms/src/collections/Pages.ts
  cms/src/types/payload.ts
  web/assets/scss/app.scss
  web/assets/scss/base/_global.scss
  web/content/content_writing.go
  web/content/english_lessons.go
  web/views/blocks/content.scss
  web/views/blocks/content_with_image.templ
  web/views/blocks/faqs.go
  web/views/blocks/hero.scss
  web/views/components/social.scss
  web/views/pages/home.templ
Due: check, lint, go-fmt

feat: Fonts & contact block
  web/assets/fonts/VremenaGroteskBold.woff
  web/assets/fonts/VremenaGroteskBold.woff2
  web/assets/fonts/VremenaGroteskBook.woff
  web/assets/fonts/VremenaGroteskBook.woff2
  web/assets/fonts/VremenaGroteskMedium.woff
  web/assets/fonts/VremenaGroteskMedium.woff2
  web/assets/fonts/original/VremenaGroteskBold.otf
  web/assets/fonts/original/VremenaGroteskBook.otf
  web/assets/fonts/original/VremenaGroteskMedium.otf
  web/assets/scss/base/_fonts.scss
  web/assets/scss/generic/_typography.scss
  web/views/blocks/contact.templ
  web/views/components/button.scss
  web/views/components/button.templ
  web/views/components/collapse.scss
  web/views/components/form.scss
  web/views/partials/footer.scss
Due: none

feat: Content blocks
  cms/src/blocks/Content.ts
  cms/src/collections/Pages.ts
  cms/src/types/payload.json
  cms/src/types/payload.ts
  web/content/english_lessons.go
  web/types/cms.go
  web/views/blocks/content.templ
  web/views/pages/home.templ
Due: check, lint, go-fmt

feat: Working on collections & content for landing
  cms/src/blocks/Contact.ts
  cms/src/collections/Pages.ts
  cms/src/payload.config.ts
  cms/src/types/payload.json
  cms/src/types/payload.ts
  web/assets/scss/generic/_typography.scss
  web/content/contact.go
  web/content/settings.go
  web/handlers/pages.go
  web/types/cms.go
  web/views/blocks/contact.templ
  web/views/components/form.scss
  web/views/layouts/base.templ
  web/views/pages/home.templ
  web/views/partials/footer.templ
Due: check, lint, go-fmt

feat: Working on type conversion
  cms/package.json
  cms/src/generate-schema.ts
  cms/src/payload.config.ts
  cms/src/types/payload.json
  cms/src/types/payload.ts
  web/types/cms.go
Due: check, lint, go-fmt

chore: Updating deps
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: check

feat: Working on type gen
  cms/package.json
  cms/src/generate-schema.ts
  cms/src/payload.config.ts
  cms/src/types/payload.json
  cms/src/types/payload.ts
  web/content/contact.go
  web/content/content_writing.go
  web/package.json
  web/types/cms.go
Due: check, lint, go-fmt

feat: Transforming into payload types
  web/content/content_writing.go
  web/content/english_lessons.go
  web/content/portfolio.go
  web/views/blocks/content_with_image.templ
  web/views/components/form.templ
  web/views/components/portfolio_item.templ
Due: lint, go-fmt

feat: Working on forms
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  cms/src/payload.config.ts
  cms/src/types/payload.ts
  lefthook.yaml
  package.json
  web/content/contact.go
  web/package.json
  web/views/blocks/contact.templ
Due: check, lint, go-fmt

style: Linting & configuring settings
  biome.json
  cms/src/app/(payload)/admin/[[...segments]]/not-found.tsx
  cms/src/app/(payload)/admin/[[...segments]]/page.tsx
  cms/src/app/(payload)/api/[...slug]/route.ts
  cms/src/app/(payload)/api/graphql-playground/route.ts
  cms/src/app/(payload)/api/graphql/route.ts
  cms/src/app/(payload)/layout.tsx
  cms/src/blocks/Contact.ts
  cms/src/blocks/Content.ts
  cms/src/blocks/ContentWithImage.ts
  cms/src/blocks/FAQs.ts
  cms/src/blocks/Logos.ts
  cms/src/blocks/Portfolio.ts
  cms/src/blocks/Reviews.ts
  cms/src/blocks/Richtext.ts
  cms/src/collections/Clients.ts
  cms/src/collections/Pages.ts
  cms/src/collections/Portfolio.ts
  cms/src/collections/PortfolioCategories.ts
  cms/src/collections/Posts.ts
  cms/src/collections/Reviews.ts
  cms/src/collections/Users.ts
  cms/src/globals/Settings.ts
  cms/src/payload.config.ts
  cms/src/types/payload.ts
  web/package.json
Due: check

feat: Adding seed scripts
  cms/package.json
  cms/src/blocks/Content.ts
  cms/src/blocks/ContentWithImage.ts
  cms/src/blocks/Richtext.ts
  cms/src/collections/Clients.ts
  cms/src/collections/Pages.ts
  cms/src/collections/PortfolioCategories.ts
  cms/src/collections/Reviews.ts
  cms/src/collections/Users.ts
  cms/src/payload.config.ts
  cms/src/seed/content.ts
  cms/src/seed/down.ts
  cms/src/seed/scratch.ts
  cms/src/seed/seed.ts
  cms/src/seed/up.ts
  cms/src/types/payload.ts
  pnpm-lock.yaml
Due: check
