Repository ainsleydev/sclark.uk: changes, and which lefthook commands are due for each by the changed paths.
All: check, lint, go-fmt

check:
  run: pnpm biome check --write {staged_files}

lint:
  run: golangci-lint run --fix
  stage_fixed: true

go-fmt:
  run: gofmt -s -w

fix: Nil pointer deference for settings middleware
  cms/src/payload.config.ts
  infra/web.tf
  web/go.mod
  web/go.sum
  web/main.go
Due: check, lint, go-fmt

feat: Updating pages collection & seed script
  cms/src/blocks/Contact.ts
  cms/src/blocks/Gradient.ts
  cms/src/blocks/Logos.ts
  cms/src/collections/Pages.ts
  cms/src/payload.config.ts
  cms/src/seed/content.ts
  cms/src/seed/up.ts
  cms/src/types/payload.ts
  web/assets/images/logo.svg
Due: check

feat: Boostrapping payload into app
  cms/src/blocks/Logos.ts
  cms/src/blocks/Portfolio.ts
  cms/src/collections/Pages.ts
  cms/src/payload.config.ts
  cms/src/seed/content.ts
  cms/src/seed/up.ts
  cms/src/types/payload.json
  cms/src/types/payload.ts
  web/assets/exports/illustrations/teacher-scrabble.svg
  web/assets/exports/illustrations/thumbs-up.svg
  web/assets/exports/social/facebook.png
  web/assets/exports/social/instagram.png
  web/assets/exports/social/linkedin.png
  web/assets/exports/social/tiktok.png
  web/assets/exports/social/whatsapp.png
  web/assets/exports/social/youtube.png
  web/content/contact.go
  web/handlers/contact.go
  web/handlers/pages.go
  web/main.go
  web/types/cms.go
  web/views/blocks/content_with_image.templ
  web/views/blocks/hero.templ
  web/views/blocks/logos.templ
  web/views/components/form.templ
  web/views/pages/blocks.templ
  web/views/pages/home.templ
Due: check, lint, go-fmt

feat: Working on block decoding
  cms/src/blocks/Logos.ts
  cms/src/collections/Pages.ts
  cms/src/collections/Users.ts
  cms/src/types/payload.json
  cms/src/types/payload.ts
  web/assets/scss/generic/_typography.scss
  web/handlers/pages.go
  web/types/cms.go
  web/views/blocks/hero.templ
  web/views/blocks/logos.templ
  web/views/pages/blocks.templ
  web/views/pages/home.templ
  web/views/partials/footer.scss
Due: check, lint, go-fmt

debug: Adding scratch file to try & fix lexical parser
  cms/package.json
  cms/src/scratch.ts
  cms/src/types/payload.json
  web/views/blocks/content_with_image.templ
Due: check

debug: Updating deps & scratch file
  cms/package.json
  cms/src/scratch.ts
  pnpm-lock.yaml
Due: check

chore: Reverting deps
  cms/package.json
  cms/src/scratch.ts
  cms/src/seed/seed.ts
  pnpm-lock.yaml
Due: check

feat: Cleaning up seeder
  cms/src/seed/down.ts
  cms/src/seed/scratch.ts
  cms/src/seed/seed.ts
  cms/src/seed/up.ts
Due: check

refactor: Updating seed script
  cms/package.json
  cms/src/seed/seed.ts
Due: check

refactor: Updating seed script
  cms/src/seed/content.ts
  cms/src/seed/seed.ts
Due: check

feat: Updating infra for turso
  cms/package.json
  cms/src/payload.config.ts
  infra/db.tf
  infra/main.tf
  infra/variables.tf
  pnpm-lock.yaml
  web/assets/images/gopher.jpg
Due: check

platform: Updating images
  cms/src/payload.config.ts
  web/bin/images.mjs
Due: check

refactor: Updating seed
  cms/src/seed/content.ts
  cms/src/seed/seed.ts
  pnpm-lock.yaml
Due: check

fix: Updating image file size generation
  web/bin/images.mjs
Due: check

refactor: Updating web image gen
  web/bin/images.mjs
  web/go.sum
Due: check

feat: Implementing picture/image providers for views
  cms/package.json
  cms/src/scratch.ts
  cms/src/seed/content.ts
  pnpm-lock.yaml
  web/views/blocks/content_with_image.templ
  web/views/blocks/logos.templ
  web/views/components/portfolio_item.scss
  web/views/components/portfolio_item.templ
  web/views/pages/blocks.templ
Due: check

feat: Various views fixes
  cms/src/scratch.ts
  web/handlers/pages.go
  web/views/blocks/logos.scss
  web/views/blocks/logos.templ
  web/views/components/portfolio_item.templ
Due: check, lint, go-fmt

refactor: Using husky + lint staged
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  .husky/pre-commit
  lefthook.yaml
  package.json
  pnpm-lock.yaml
Due: check

platform: Adding Turso to Terraform & Github Actions
  .github/lint-go.yaml
  .github/test.yaml
  .gitignore
  cms/package.json
  infra/.terraform.lock.hcl
  infra/cms.tf
  infra/db.tf
  infra/main.tf
  infra/variables.tf
  infra/web.tf
  pnpm-lock.yaml
Due: check

feat: Updating workflow actions
  .github/lint-biome.yaml
  .github/lint-go.yaml
  infra/.terraform.lock.hcl
Due: none

platform: Build steps
  .github/build.yaml
  .github/lint-biome.yaml
  .github/lint.yaml
  .github/test.yaml
  cms/package.json
  package.json
  pnpm-lock.yaml
Due: check

fix: Workflows
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Due: none

refactor: Deleting content folder & linting
  .github/workflows/test.yaml
  biome.json
  web/assets/js/modernizr.js
  web/content/contact.go
  web/content/content_writing.go
  web/content/english_lessons.go
  web/content/faqs.go
  web/content/portfolio.go
  web/content/reviews.go
  web/content/settings.go
  web/handlers/contact.go
  web/handlers/pages.go
  web/main.go
  web/views/pages/home.templ
Due: check, lint, go-fmt

fix: Test workflow
  .github/workflows/build.yaml
  .github/workflows/test.yaml
Due: none

platform: Fix test script
  .github/workflows/test.yaml
Due: none

chore: Bumping versions
  .github/workflows/test.yaml
  web/go.mod
  web/go.sum
Due: none

platform: Tweaking test script workflow
  .github/workflows/test.yaml
Due: none

platform: Updating lint script
  .github/workflows/lint.yaml
Due: none

platform: Lint script
  .github/workflows/lint.yaml
  web/assets/js/app.js
  web/assets/js/modernizr.js
Due: check

fix: Go version
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Due: none

fix: Versioning
  .github/workflows/lint.yaml
Due: none

fix: Biome
  .github/workflows/test.yaml
  biome.json
  package.json
  web/assets/favicon/site.webmanifest
  web/bin/svgo.mjs
  web/views/components/collapse.js
Due: check

refactor: Updating lint workflow
  .github/workflows/lint.yaml
  cms/biome.json
Due: check

fix: Updating lint-staged to include ts
  cms/biome.json
  package.json
Due: check

refactor: Updating types
  .github/workflows/build.yaml
  cms/src/types/payload.ts
Due: check

refactor: Updating types
  cms/src/types/payload.json
Due: check

platform: Build script
  .github/workflows/build.yaml
Due: none

fix: Version for pnpm
  .github/workflows/build.yaml
Due: none

fix: Build workflow
  .github/workflows/build.yaml
Due: none

fix: Bad workflow file
  .github/workflows/build.yaml
Due: none

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  lint: any of: *.go
  go-fmt: any of: *.go
