Repository ainsleydev/sclark.uk: changes, and which lefthook commands are due for each by the changed paths.
All: check, lint, go-fmt

lefthook.yaml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
    parallel: true
    commands:
        check:
            glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
            run: pnpm biome check --write {staged_files}
        lint:
            glob: "*.go"
            run: golangci-lint run --fix
            stage_fixed: true
        go-fmt:
            glob: "*.go"
            run: gofmt -s -w
        go-vet:
            glob: "web/*.go"
            tags: backend style
            files: git ls-files -m
            run: go vet
prepare-commit-msg:
    commands:
        commitzen:
            interactive: true
            run: pnpm run commit
            env:
                LEFTHOOK: 0

fix: Dockerfile
  cms/Dockerfile
  cms/package.json
  web/assets/scss/layout/section.scss
  web/views/partials/footer.templ
Due: check

fix: Dockerfile
  cms/Dockerfile
  web/assets/images/gopher.jpg
  web/views/partials/footer.templ
Due: none

fix: Dockerfile
  cms/Dockerfile
  web/assets/images/logo-white.svg
  web/views/partials/footer.templ
Due: none

fix: Dockerfile
  cms/Dockerfile
  web/views/partials/footer.scss
  web/views/partials/footer.templ
Due: none

refactor: Identifier with no default value
  cms/src/fields/Identifier.ts
  cms/src/types/payload.json
  cms/src/types/payload.ts
  web/assets/images/footer/illustration.svg
  web/types/cms.go
  web/views/blocks/util.go
  web/views/partials/footer.scss
  web/views/partials/footer.templ
  web/views/svgs/footer.templ
Due: check, lint, go-fmt

fix: Robots.txt for WebKit
  web/go.mod
  web/go.sum
Due: none

perf: Updating width/height for images
  web/views/blocks/reviews.templ
  web/views/components/portfolio_item.templ
Due: none

platform: Updating alert policies
  infra/cms.tf
  infra/web.tf
Due: none

refactor: Updating footer & bumping deps
  cms/package.json
  web/views/partials/footer.scss
  web/views/partials/footer.templ
Due: check

fix: Package.json
  cms/package.json
Due: check

chore: Package-lock
  pnpm-lock.yaml
Due: none

refactor: Removing desktop size from Media
  cms/package.json
  cms/src/migrations/20240808_152324.json
  cms/src/migrations/20240808_152324.ts
  cms/src/migrations/index.ts
  cms/src/types/payload.ts
  pnpm-lock.yaml
Due: check

refactor: Updating migrations
  cms/src/migrations/20240806_155319.json
  cms/src/migrations/20240808_110205.ts
  cms/src/migrations/20240808_152324.json
  cms/src/migrations/20240808_152324.ts
  cms/src/migrations/20240808_153642.json
  cms/src/migrations/20240808_153642.ts
  cms/src/migrations/index.ts
Due: check

refactor: Updating Dockerfile
  cms/Dockerfile
  cms/src/payload.config.ts
Due: check

test: Dockerfile
  cms/Dockerfile
Due: none

platform: Increasing http timeout
  cms/Dockerfile
  cms/next.config.mjs
Due: check

fix: Media hooks
  cms/package.json
  cms/payload-types.ts
  cms/src/payload.config.ts
  pnpm-lock.yaml
Due: check

fix: Updating nav links
  web/views/partials/nav.templ
Due: none

perf: Updating avif sharp options
  cms/package.json
  pnpm-lock.yaml
Due: check

perf: Disable local storage
  cms/package.json
  pnpm-lock.yaml
Due: check

refactor: Sharp & fixning typo
  cms/src/payload.config.ts
  web/views/partials/footer.templ
  web/views/partials/nav.templ
Due: check

fix: Lexical deps
  cms/package.json
Due: check

fix: Deps
  cms/package.json
Due: check

fix: Nav & scroll snap
  web/assets/js/app.js
  web/views/components/collapse.scss
  web/views/partials/nav.scss
  web/views/partials/nav.templ
Due: check

fix: Frozen lockfile
  pnpm-lock.yaml
Due: none

fix: Updating identifier
  web/go.mod
  web/go.sum
  web/views/blocks/contact.templ
  web/views/blocks/content.templ
  web/views/blocks/content_with_image.templ
  web/views/blocks/logos.templ
  web/views/blocks/portfolio.templ
  web/views/blocks/reviews.templ
  web/views/blocks/util.go
  web/views/components/form.templ
  web/views/components/gradient.templ
  web/views/pages/blocks.templ
  web/views/partials/footer.templ
Due: lint, go-fmt

chore: Bumping turbo
  package.json
  pnpm-lock.yaml
Due: check

chore: Fixing lint
  web/go.mod
  web/go.sum
  web/views/components/portfolio_item.templ
Due: none

refactor: Formatting
  cms/src/blocks/Contact.ts
  cms/src/blocks/Content.ts
  cms/src/blocks/ContentWithImage.ts
  cms/src/blocks/FAQs.ts
  cms/src/blocks/Gradient.ts
  cms/src/blocks/Logos.ts
  cms/src/blocks/Portfolio.ts
  cms/src/blocks/Reviews.ts
  cms/src/types/payload.json
Due: check

fix: Go Version
  web/go.mod
  web/go.sum
Due: none

chore: Fixing Payload
  .gitignore
  cms/package.json
  cms/src/app/(payload)/admin/[[...segments]]/not-found.tsx
  cms/src/app/(payload)/admin/[[...segments]]/page.tsx
  cms/src/app/(payload)/admin/importMap.js
  cms/src/app/(payload)/api/[...slug]/route.ts
  cms/src/app/(payload)/api/graphql-playground/route.ts
  cms/src/app/(payload)/api/graphql/route.ts
  cms/src/app/(payload)/layout.tsx
  cms/src/collections/Reviews.ts
  cms/src/payload.config.ts
  cms/src/types/payload.ts
  pnpm-lock.yaml
Due: check

chore: Adding migration
  cms/src/migrations/20241208_111536.json
  cms/src/migrations/20241208_111536.ts
  cms/src/migrations/index.ts
Due: check

chore: Bumping importmap
  cms/package.json
  cms/src/app/(payload)/admin/importMap.js
  cms/src/payload.config.ts
Due: check

chore: Fixing payload
  cms/package.json
  cms/src/migrations/20241208_114901.json
  cms/src/migrations/20241208_114901.ts
  cms/src/migrations/index.ts
  cms/src/payload.config.ts
Due: check

refactor: Updating types & lock
  cms/package.json
  pnpm-lock.yaml
Due: check

refactor: Removing migrations from Dockerfile
  cms/Dockerfile
  cms/src/payload.config.ts
Due: check

refactor: Removing desktop from DB
  cms/src/collections/Media.ts
  cms/src/migrations/20241208_123348.json
  cms/src/migrations/20241208_123348.ts
  cms/src/migrations/index.ts
  cms/src/payload.config.ts
  cms/src/types/payload.ts
Due: check

refactor: Adding migrate step back
  cms/Dockerfile
Due: none

chore: Running gen
  cms/src/app/(payload)/admin/importMap.js
  cms/src/types/payload.ts
Due: check

fix: Reviews
  cms/src/collections/Reviews.ts
  cms/src/collections/Users.ts
Due: check
